.profile-container{
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 999;
}
.profile_current-user_pfp{
  padding-top: 25%;
  width: 100%;
}
.hoverable{
  border: 0px !important;
  border-radius: 50% !important;
  cursor: pointer;
  display: block !important;
  height: 200px;
  margin: 0px auto !important;
  position: relative !important;
  transition: 0.33s all !important;
  width: 200px;
}
.profile_current-user_text{
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
#profile_navbar{
  text-align: left;
}
#profile_navbar ul{
  list-style-type: none;
  margin: 10% auto 0px auto;
  width: 150px;
}
#profile_navbar li, #profile_navbar a,
.profile_current-user_text a{
  color: var(--revature-dark-gray);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin: 15px 0px;
  text-decoration: none;
  transition: 0.33s all;
}
.profile_current-user_text a{
  color: var(--revature-dark-gray);
  font-size: 25px;
  text-decoration: none;
  transition: 0.33s all;
}
#profile_navbar li:hover, #profile_navbar a:hover,
.profile_current-user_text a:hover{
  color: var(--revature-light-gray);
}
fa-icon{
margin-right: 5px;
width: 10px;
}
.hover-text{
  /* Use this variable to set     */
  /* the size of the font awesome */
  /* icon inside the image        */
  --profile-icon-size: 60px;

  background-color: rgb(255,255,255, 0.69);
  border: 2px solid var(--revature-dark-gray);
  border-radius: 50%;
  color: var(--revature-dark-gray);
  cursor: pointer;
  display: block;
  font-size: var(--profile-icon-size); /* <-- change using variable */
  height: 200px;
  opacity: 0;
  padding: calc(50% - (var(--profile-icon-size) / 2) - 4px);
  position: absolute;
  top: 0px;
  text-align: center;
  transition: 0.33s all !important;
  width: 200px;
}
.hoverable img:hover + .hover-text, .hover-text:hover{
  opacity: 1;
}
.hoverable img{
  cursor: pointer;
}
#profile-header_buttons{
  cursor: pointer;
  display: block;
  margin: 10px 25px 0px auto;
  position: relative;
  text-align: center;
  transition: 0.3s all;
  width: 100px;

}
.profile-header_btn > fa-icon{
  background-color: var(--revature-white);
  border-radius: 50%;
  color: var(--revature-dark-gray);
  display: block;
  font-size: 25px;
  margin: 0px auto 2.5px auto;
  padding: 10px;
  width: 57.5px;
}
.profile-header_btn:hover > fa-icon{
  background-color: var(--revature-light-gray);
}
.profile-header_btn:hover > p{
  color: var(--revature-light-gray);
}

.col-md-7{
  background-color: #474C55;
}

.cover {
  background-color: #72A4C2;
}

:host .modal-content{
  border-radius: 50px;
}

img {
height: 100%;
width: 100%;
border-radius: 50%;
}
.hoverable .hover-text{
position: absolute;
display: none;
top: 50%;
left:  50%;
transform: translate(-50%,-50%);
z-index: 2;
}

.hoverable .background{
position: absolute;
display: none;
top: 0;
left:  0;
bottom: 0;
right: 0;
background-color:rgba(255, 255, 255, 0.5);
pointer-events: none;
border-radius: 50%;
z-index: 1;
}
.hoverable:hover .hover-text{
display: block;
}
.hoverable:hover .background{
display: block;
}

#fileInput{
display: none;
}
#nav-logo{
  align-self: flex-start;
  border-radius: 0px;
  border: 0px;
  height: auto;
  margin: auto auto 20px auto;
  width: 25%;
}
