<div class="profile-container">
  <div class="profile_current-user_pfp">
    <label class="hoverable" for="fileInput">
      <img [src]="url"
      alt="Bubble profile photo for {{this.profile.firstName}} {{this.profile.lastName}}">
      <div class="hover-text">Choose file</div>
      <div class="background"></div>
    </label>
    <input id="fileInput" type='file' (change)=" onSelectFile($event)  ">
      <!-- <img
          src="../../../../assets/favicon.png"
          alt="Bubble profile photo for {{this.profile.firstName}} {{this.profile.lastName}}"
          width="130"
        /> -->
      <!-- <app-modal-button></app-modal-button> -->
  </div>
  <div class="profile_current-user_text">
      <h4>{{this.profile.firstName}} {{this.profile.lastName}}</h4>
      <!-- <p class="small mb-4"> <em class="fas fa-map-marker-alt mr-2"></em> {{this.profile.email}}</p> -->
      <nav id="profile_navbar">
        <ul>
          <li><fa-icon class="nav-icon" [icon]="faHome"></fa-icon>Home</li>
          <li routerLink="/profile:id"><fa-icon class="nav-icon" [icon]="faIdCard"></fa-icon>Profile</li>
          <li><fa-icon class="nav-icon" [icon]="faUserFriends"></fa-icon>Followers</li>
          <li routerLink="/teams-page"><fa-icon class="nav-icon" [icon]="faUsers"></fa-icon>Group</li>
          <li><fa-icon class="nav-icon" [icon]="faComments"></fa-icon>Chat</li>
          <li><fa-icon class="nav-icon" [icon]="faCalendar"></fa-icon>Events</li>
          <li><fa-icon class="nav-icon" [icon]="faCog"></fa-icon>Settings</li>
          <li><fa-icon class="nav-icon" [icon]="faSignOutAlt"></fa-icon>Logout</li>
        </ul>
    </nav>
  </div>
<!-- <app-follow></app-follow> -->
  <!--<div class="bg-white shadow overflow-hidden" style="border-radius: 50px;">
      <div class="px-4 pt-0 pb-4 cover">

        <label class="hoverable" for="fileInput">
          <img [src]="url" alt="profile image">
          <div class="hover-text">Choose file</div>
          <div class="background"></div>
        </label>
        <br/>
        <input id="fileInput" type='file' (change)=" onSelectFile($event)  ">

          <div class="media align-items-end profile-head">
              <div class="profile mr-3">

                <br/>

              </div>
              <div class="media-body mb-5 text-black">
                  <h4 class="mt-0 mb-0">{{this.profile.firstName}}</h4>
                  <h4 class="mt-0 mb-0">{{this.profile.lastName}}</h4>
                  <p class="small mb-4"> <em class="fas fa-map-marker-alt mr-2"></em> {{this.profile.email}}</p>
                  <a [href]="'profile/'+ id" >Edit Profile Here!</a>
                  <br/>
                  <br/>
                  <a [href]="'profileview/'+ id" >Go to Profile Page!</a>
              </div>
          </div>
      </div>
      <br>
      <br>

  </div>-->
</div>
