<header id="group-header_container">
  <div id="group-header_cover-photo" #profileHeaderCoverPhoto>
  </div>
  <div id="group-header_group-info">
    <div class="group-header_pfp" id="group-header_edit-pfp">
      <img [src]="url" alt="profile image" class="bubble-avatar_xl">
    </div>
    <h3>{{groupName}}</h3>
    <p id="description">Description goes here... eventually.</p>
  </div>

  <div id="group-header_buttons">
    <button type="submit">
      <div class="group-header_btn">
        <fa-icon [icon]="faNewspaper"></fa-icon>
        <p>Posts</p>
      </div>
    </button>

    <button type="submit">
      <div class="group-header_btn">
        <fa-icon [icon]="faUsers"></fa-icon>
        <p>Members</p>
      </div>
    </button>

    <app-modal-button *ngIf=" id ==  sessionId"></app-modal-button>
    <button *ngIf=" ! followed &&   id !=  sessionId " type="submit">
      <div class="group-header_btn">
        <fa-icon [icon]="faUserPlus"></fa-icon>
        <p>Join</p>
      </div>
    </button>

    <button *ngIf="  followed &&   id !=  sessionId " type="submit">
      <div class="group-header_btn">
        <fa-icon [icon]="faUserMinus"></fa-icon>
        <p>Leave</p>
      </div>
    </button>
  </div>

</header>
