<header id="group-header_container">
  <div id="group-header_cover-photo" #groupHeaderCoverPhoto>
    <label class="hoverable" for="cover_photo">
      <img [src]="urlCoverPhotoIconBubble" alt="cover photo">
      <div class="background-hover-text">
        <fa-icon class="camera-icon" [icon]="faCameraRetro"></fa-icon>
      </div>
    </label>
    <input id="cover_photo" type='file' (change)="onUpdateGroupCover($event)">
  </div>

  <div id="group-header_group-info">
    <div class="group-header_pfp" id="group-header_edit-pfp">
      <label class="hoverable" for="group_photo">
        <img class="bubble-avatar_xl" [src]="urlGroupPhotoIconBubble" alt="group profile image">  <!--icon bubble to change cover photo-->
        <!-- <img [(src)]="urlCoverPhoto" alt="Cover photo for {{this.group.groupName}}" class=""> <!--icon bubble to change cover photo-->
        <div class="hover-text">
          <fa-icon class="camera-icon" [icon]="faCameraRetro"></fa-icon>
        </div>
      </label>
    <input id="group_photo" type='file' (change)="onUpdateGroupImg($event)">    
    </div>
    <h3>{{groupName}}</h3>
    <h5>{{groupDesc}}</h5>
  </div>

</header>
