<div id="verify-email_container">
  <div class="bubble_centered-block">
  <form class="register-form">
    <div class="container">
      <img src="../../../assets/images/bubble-logo.png" alt="Bubble Logo" class="bubble-logo_reset-password">
      <p *ngIf="emailVerified">Update your Password.</p>
      <p *ngIf="!emailVerified">Enter your Email to get Verification Email.</p>
      <div class="alert alert-danger" role="alert" *ngIf="!taken">
        Email is not used with any accounts.
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="missing">
        Missing field(s) in the form
      </div>
      <div class="alert alert-info" role="alert" *ngIf="emailSent">
        Email is sent, go verify it.
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="pswMatch">
        Passwords don't match
      </div>
      <div class="alert alert-success" role="alert" *ngIf="success">
        Successfully password updated!
      </div>
      <hr />

    <div *ngIf="!emailVerified">

      <label for="email">Email</label>
      <input
        class="form-control"
        type="text"
        placeholder="Enter Email"
        name="email"
        id="email"
        [(ngModel)]="email"
        required
      />

      <button type="submit" class="registerbtn btn-rounded" (click)="verifyEmail()">
        Verify
      </button>

    </div>

    <div *ngIf="emailVerified">
      <div class="row g-3">
        <div class="col-md-6">
          <label for="psw">Password</label>
          <input
            class="form-control"
            type="password"
            placeholder="Enter Password"
            name="psw"
            id="psw"
            [(ngModel)]="psw"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="psw-repeat">Repeat Password</label>
          <input
            class="form-control"
            type="password"
            placeholder="Repeat Password"
            name="psw-repeat"
            id="psw-repeat"
            [(ngModel)]="pswrepeat"
            required
          />
        </div>
      </div>

      <hr />


      <button type="submit" class="registerbtn btn-rounded" (click)="updatePassword()">
        Update Password
      </button>

      </div>

        <div *ngIf="!emailVerified" class="sign-in">
          <a href="/login">Back to log in page?</a>
        </div>
    </div>
  </form>
</div>
</div>
