nav-bar{
    /* border: 1px solid var(--revature-light-gray); */
    width: 25%;
}

.notification-container{
    background-color: var(--revature-bg-gray);
    width: 100%;
}

.newNotification-container{
    width: 400px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #F26925;
}

p {
    cursor: default !important;
}

.notification-container {
    overflow-y: scroll;
}