<div class="view-container">
  <nav-bar></nav-bar>

  <div class="notification-container">
    <div
        class="
          feed-container
          container-fluid
          d-flex
          flex-column
          align-items-center
          mt-5
        "
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()"
        [scrollWindow]="false">

        <!-- 
          make this look prettier after finishing functionality
          figure out a better way to render which notification message is sent using ngIf?
        -->
        <div class="notification-table-container">
          <h3>New Notifications</h3>
          <table>
            <tr *ngFor="let notReadNotification of notReadNotifications">
              <span *ngIf="!notReadNotification.cid">{{notReadNotification.fromProfileId.firstName}} {{notReadNotification.fromProfileId.lastName}} liked your post "{{notReadNotification.postId!.body}}"</span>
              <span *ngIf="notReadNotification.cid && !notReadNotification.cid?.previous?.cbody">{{notReadNotification.fromProfileId.firstName}} {{notReadNotification.fromProfileId.lastName}} commented on your post "{{notReadNotification.postId!.body}}"</span>
              <span *ngIf="notReadNotification.cid?.previous?.cbody">{{notReadNotification.fromProfileId.firstName}} {{notReadNotification.fromProfileId.lastName}} replied to your comment "{{notReadNotification.cid!.previous!.cbody}}"</span>
            </tr>
          </table>

          <br>
          <hr>
          <br>

          <h3>All Notifications</h3>
          <table>
            <tr *ngFor="let isReadNotification of isReadNotifications">
              <span *ngIf="!isReadNotification.cid">{{isReadNotification.fromProfileId.firstName}} {{isReadNotification.fromProfileId.lastName}} liked your post "{{isReadNotification.postId!.body}}"</span>
              <span *ngIf="isReadNotification.cid && !isReadNotification.cid?.previous?.cbody">{{isReadNotification.fromProfileId.firstName}} {{isReadNotification.fromProfileId.lastName}} commented on your post "{{isReadNotification.postId!.body}}"</span>
              <span *ngIf="isReadNotification.cid?.previous?.cbody">{{isReadNotification.fromProfileId.firstName}} {{isReadNotification.fromProfileId.lastName}} replied to your comment "{{isReadNotification.cid!.previous!.cbody}}"</span>
            </tr>
          </table>
        </div>
        <!-- not sure how to implement show more button yet -->
        <!-- <button (click)="showMore()" class="btn-rounded" style="margin: 10px auto;">show more</button > -->
      </div>
  </div>

</div>
