<div class="view-container">
  <nav-bar></nav-bar>
  <div id="groups-container">
    <div id="my-groups">

      <div id="search-groups-container" class="group-page-container-box">
        <header class="groups-container_header">
          <fa-icon [icon]="faSearch"></fa-icon>
        </header>
        <form #userForm="ngForm" class="groups-container_body">
          <h4>Searching for groups</h4>
          <label for="group-search" class="hide-label">Group Search: {{userForm.value.searchName}}</label>
          <input type="text" name="searchName" class="form-control" [(ngModel)]="searchName">
          <button type="button" class="btn-rounded" (click)="searchByName()">Search</button>
          <div *ngIf="sGroups.length > 0" id="joinable-groups-list">
            <ul *ngFor="let g of sGroups; index as i">
              <li><a [href]="['/groups/'+ g.groupId]"><fa-icon [icon]="faUsers"></fa-icon>{{getSearchGroupName(i)}}</a> <button  name="join" (click)="joinGroup(i)">(Join)</button> </li>
            </ul>
          </div>
        </form>
      </div>

    <div id="my-groups-container" class="group-page-container-box" *ngIf="mGroups.length > 0">
      <header class="groups-container_header">
        <fa-icon [icon]="faUsers"></fa-icon>
      </header>
      <div class="groups-container_body">
        <h4>My groups</h4>
        <div class="groups-container_body-group-list">
          <ul *ngFor="let g of mGroups; index as i">
            <li><a [href]="['/groups/'+ g.groupId]"><fa-icon [icon]="faUsers"></fa-icon>{{getJoinedGroupName(i)}}</a>  <button  name="leave" (click)="leaveGroup(i)">(Leave?)</button></li>
          </ul>
        </div>
      </div>
    </div>


    <div id="create-group-container" class="group-page-container-box">
      <header class="groups-container_header">
        <fa-icon [icon]="faPlusCircle"></fa-icon>
      </header>
      <form class="groups-container_body">
        <h4>Can't find a group? Create one!</h4>
        <input type="text" name="groupName" class="form-control" [(ngModel)]="groupName" placeholder="What's the name of your new group?">
        <button type="button" class="btn-rounded" (click)="createGroup()">Create</button>
      </form>

    </div>

  </div>
</div>
