
<div id="my-groups-container" class="group-page-container-box" *ngIf="mGroups.length > 0">
    <header class="groups-container_header">
      <fa-icon [icon]="faUsers"></fa-icon>
    </header>
    <div class="groups-container_body">
      <h4>My groups</h4>
      <div class="groups-container_body-group-list">
        <ul *ngFor="let g of mGroups; index as i">
          <li><a [href]="['/groups/'+ g.groupId]"><fa-icon [icon]="faUsers"></fa-icon>{{getJoinedGroupName(i)}}</a> <button  name="leave" (click)="leaveGroup(i)">(Leave?)</button></li>
        </ul>
      </div>
    </div>
  </div>