<header id="profile-header_container">
  <div id="profile-header_cover-photo" #profileHeaderCoverPhoto>
  </div>
  <div id="profile-header_user-info">
      <div class = "profile-header_pfp" id="profile-header_edit-pfp">
        <label class="hoverable" for="fileInput">
          <img [src]="url" alt="profile image">
          <div class="hover-text">
            <fa-icon class="camera-icon" [icon]="faCameraRetro"></fa-icon>
          </div>
        </label>
      </div>
    <h3>{{this.profile.firstName}} {{this.profile.lastName}}</h3>
    <div id="profile-header_buttons">
      <div class="profile-header_btn">
        <fa-icon [icon]="faUserPlus"></fa-icon>
        <p>Follow</p>
      </div>
    </div>
  </div>
</header>
