<div class="card-body rounded">
    <div class="create-post-container">
        <form class="create-post-form" >
            <label for="create-post">Create a new post: </label>
            <hr/>
            <div class="mb-3">
              <label for="imgURL" >Add an Image URL</label>
              <input type="text" name="imgURL" class="form-control" [(ngModel)]="this.addPost.imgURL">
            </div>
            <div class="mb-3">
                <label for="create-post" >Add Text</label>
                <textarea type="text" class="form-control" [(ngModel)]="addPost.body" name="create-post"
                id="create-post" placeholder="What's Bubblin?" required></textarea>
                <p class = "error" *ngIf="show">Please input some post text.</p>
            </div>
            <!-- <input type="file" [(ngModel)]="addPost.imgURL" name="create-post-image" id="create-post-image"/> -->
            <div class="submit">
                <button mat-raised-button type="submit" (click)="createPost()">Submit</button>
            </div>
        </form>
    </div>
</div>      
