<div class="container create-post-container">
  <div class="col post-card mb-4 card">
        <form class="create-post-form" >
            <div class="mb-3">
                <textarea type="text" class="form-control" [(ngModel)]="addPost.body" name="create-post"
                id="create-post" placeholder="What's Bubblin?" required></textarea>
                <p class = "error" *ngIf="show"><strong>Please input a text body.</strong></p>
            </div>

            <div class="submit create-post_submit-btn">
              <button id="create-post-btn" class="btn-rounded" type="submit" (click)="createPost()">Post</button>
              <label for="imgURL" id="create-post_image-upload">
                <fa-icon class="nav-icon" [icon]="faImage"></fa-icon> Add Image
                <input id="imgURL" name="imgURL" type='file' (change)="onSelectFile($event)">
                <fa-icon class="create-post_ui-icon" [icon]="faCheckCircle" *ngIf="uploadDesired"></fa-icon>
              </label>
          </div>

        </form>
    </div>
</div>
