<div class="card-body rounded">
    <div class="create-post-container">
        <form class="create-post-form" >
            <button type="button" class="close" (click)="closeModal()">&times;</button>
            <label class="header" for="create-post"><h2>Create a New Post</h2></label>
            <hr/>
            <div class="mb-3">
              <label for="imgURL" >Add an Image URL</label>
              <input type="text" name="imgURL" class="form-control" [(ngModel)]="this.addPost.imgURL">
            </div>
            <div class="mb-3">
                <label for="create-post" >Add Text</label>
                <textarea type="text" class="form-control" [(ngModel)]="addPost.body" name="create-post"
                id="create-post" placeholder="What's Bubblin?" required></textarea>
                <p class = "error" *ngIf="show"><b>Please input a text body.</b></p>
            </div>
            <div class="submit">
                <button class="btn btn-dark" type="submit" (click)="createPost()">Submit</button>
            </div>
        </form>
    </div>
</div>      
