html {
    background-color: #1893de;
}

.navbar{
    background-image: linear-gradient(to right, white, #72A4C2, #72A4C2, #72A4C2, #72A4C2)
}

.home-container{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    background: url('../../../../assets/images/login-register-background.jpg');
    background-size: cover;
    text-align: center;
}

.feed-container {
    overflow-y: scroll;
    scrollbar-width: 0;
    height: 60%;
}

.feed-container::-webkit-scrollbar { 
    width: 0 !important 
}

.container-fluid {
    max-height: min-content;
}

@media  (max-width: 1024px){
    .home-container {
        display:flex;
        flex-flow:column nowrap;
        align-items: center
    }
}  