<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"><b>Bubbl(e)</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn btn-dark" style="border-radius: 50px;" href='/login' (click)="logout()">Logout</a>
            </div>
        </li>
        </ul>
    </div>
</nav>

<div class="home-container container-fluid">
    <app-profile></app-profile>

    <div style="width: 100%" class="d-flex flex-column align-items-center">
        <app-posts-container></app-posts-container>
        <div
          class="
            feed-container
            container-fluid
            d-flex
            flex-column
            align-items-center
          "
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          (scrolled)="onScroll()"
          [scrollWindow]="false"
>
        <app-post-feed [posts]="posts"></app-post-feed>
        </div>
    </div>

</div>