<div class="position-fixed min-vw-100">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="../../../../assets/our-logo.png" width="150" height="60px"/></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <app-search></app-search>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn btn-dark" style="border-radius: 50px;" href='/login' (click)="logout()">Logout</a>
            </div>
        </li>
        </ul>
    </div>
</nav>
</div>
<div class="home-container container-fluid" style="margin-top: 80px; padding-top: 2rem;">
    <nav-bar></nav-bar>

    <div class="d-flex flex-column align-items-center" style="height: 65%;">
        <app-posts-container></app-posts-container>
        <div
          class="
            feed-container
            container-fluid
            d-flex
            flex-column
            align-items-center
          "
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          (scrolled)="onScroll()"
          [scrollWindow]="false"
>
        <app-post-feed [posts]="posts" class="col"></app-post-feed>
        </div>
    </div>
</div>
