* {
  box-sizing: border-box;
}

.register-container {
  background-image: url("/assets/images/login_register_background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.alert {
  border-radius: 30px;
}

.success {
  color: rgb(29, 133, 29);
  font-size: 18px;
  font-weight: bold;
}

.sign-in {
  margin-top: 3rem;
  text-align: center;
}

.register-form {
  padding: 5rem;
}

.text-center {
  background-color: #de6f3d;
  border-radius: 80px;
  padding: 1rem;
  color: white;
  margin-bottom: 3rem;
}

/* Add padding to containers */
.container {
  padding: 4rem;
  border-radius: 80px;
  max-width: 700px;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .container {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 5px 22px 5px;
  display: inline-block;
  border: none;
  background: #b1e3fb;
  border-radius: 100px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #b1e3fb;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #f26925;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 100px;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: rgb(156, 112, 45);
  font-weight: 500;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 2rem;
  }

  .register-form {
    padding: 2rem;
  }
}
