<div class="register-container">
  <form class="register-form">
    <div class="container">
      <h2 class="text-center">Bubbl(e)</h2>
      <p>Please fill in this form to create an account.</p>
      <div class="alert alert-danger" role="alert" *ngIf="taken">
        Email or Username is already Used
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="missing">
        Missing field(s) in the form
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="pswMatch">
        Passwords don't match
      </div>
      <div class="alert alert-success" role="alert" *ngIf="success">
        Successfully created account!
      </div>
      <hr />

      <div class="row g-3">
        <div class="col-md-6">
          <label for="firstname">First Name</label>
          <input
            class="form-control"
            type="text"
            placeholder="Enter First Name"
            name="firstname"
            id="firstname"
            [(ngModel)]="firstname"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="lastname">Last Name</label>
          <input
            class="form-control"
            type="text"
            placeholder="Enter Last Name"
            name="lastname"
            id="lastname"
            [(ngModel)]="lastname"
            required
          />
        </div>
      </div>

      <label for="username">Username</label>
      <input
        class="form-control"
        type="text"
        placeholder="Enter Username"
        name="username"
        id="username"
        [(ngModel)]="username"
        required
      />

      <label for="email">Email</label>
      <input
        class="form-control"
        type="text"
        placeholder="Enter Email"
        name="email"
        id="email"
        [(ngModel)]="email"
        required
      />

      <div class="row g-3">
        <div class="col-md-6">
          <label for="psw">Password</label>
          <input
            class="form-control"
            type="password"
            placeholder="Enter Password"
            name="psw"
            id="psw"
            [(ngModel)]="psw"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="psw-repeat">Repeat Password</label>
          <input
            class="form-control"
            type="password"
            placeholder="Repeat Password"
            name="psw-repeat"
            id="psw-repeat"
            [(ngModel)]="pswrepeat"
            required
          />
        </div>
      </div>

      <hr />

      <p>
        By creating an account you agree to our <a href="#">Terms & Privacy</a>.
      </p>
      <button type="submit" class="registerbtn btn" (click)="registerProfile()">
        Register
      </button>

      <div class="sign-in">
        <p>Already have an account? <a href="#">Sign in</a></p>
      </div>
    </div>
  </form>
</div>
