<h5 class="card-header">{{this.profile.username}}</h5>
<div class="container" >
    
    <br>
    <div class="row">
        <div class="col-sm-3" style="background-color:rgb(253, 181, 21);">
            <h6>Profile</h6>
            <div  class="card">
                <p>Last Name: {{this.profile.lastName}}</p>
                <p>First Name: {{this.profile.firstName}}</p>
                <p>Email: {{this.profile.email}}</p>
            </div>
            <br>
            <div >
                <app-modal-button></app-modal-button>
                <!-- <button  class="btn btn-dark" (click)="showUpdateMenu()">Update Profile</button> -->
                <br><br>
                <h6>Add Friend</h6>
                <input type="email" class="form-control" placeholder="Add frineds by email" [(ngModel)] = credential>
                <br><button  class="btn btn-dark">Add Friend</button>
            </div>
            
        </div>
        <div>
            <div></div>
        </div>  
    </div>
</div>