#follow-list-text{
  height: 50px;
  padding: 10px 5px;
  text-align: center;
}
.follow-list-container{
  height: calc(100% - 70px);
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}
.listed-user{
  cursor: pointer;
  display: inline-block;
  margin: 15px 10px;
  overflow-wrap: break-word;
  width: 250px;
}
.listed-user_avatar{
  display: inline-block;
  width: calc(var(--revature-sm-avatar) + 10px);
}
.listed-user:hover > a > .listed-user_avatar img{
  filter: brightness(110%);
}
.listed-user_info{
  color: var(--revature-dark-gray);
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  width: calc(100% - (var(--revature-sm-avatar) + 10px));
}
.listed-user:hover > a > .listed-user_info{
  color: var(--revature-light-gray);
}
