<div class="container">

  <div class="row">
      <div class="col-md-6">

        <h3 style="text-align: center;">{{text + " " + profiles.length}} </h3>
          <div class="people-nearby">

            <ng-container   *ngFor="let p of profiles">
            <div class="nearby-user">

              <div class="row">


                <div class="col-md-2 col-sm-2">
                  <img [src]="[ (p.imgurl) ? p.imgurl : '../../../../assets/favicon.png']" alt="user" class="profile-photo-lg">
                </div>

              </div>

              <div class="col-md-12 col-sm-7">
              <a [href]="'/profileview/'+ p.pid" class="profile-link">{{p.firstName + " " + p.lastName}}</a>
              </div>
            </div>

    </ng-container>




          </div>
    </div>
</div>
</div>
