<div class="container">
  <p id="follow-list-text">
    Following: {{profiles.length}}
  </p>
  <div class="follow-list-container">
    <ng-container   *ngFor="let p of profiles">
      <div class="listed-user">
        <a [href]="'/profileview/'+ p.pid" class="profile-link">
          <div class="listed-user_avatar">
            <img [src]="[ (p.imgurl) ? p.imgurl : '../../../../assets/favicon.png']" alt="user" class="bubble-avatar_sm">
          </div>
          <div class="listed-user_info">
            <p>{{p.firstName + " " + p.lastName}}</p>
          </div>
        </a>
      </div>
    </ng-container>
  </div>
</div>
