<div class="container-fluid rounded">
  <div class="row">
    <div class="col img-col">
      <ng-container *ngIf="post.imgURL">
        <img class="img-fluid card-img" [src]="post.imgURL" width="100"  height="100"/>
      </ng-container>
    </div>
    <div class="col">
      <div class="modal-header">
        <h4 class="modal-title">{{ post.creator.firstName }}</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="activeModal.dismiss('Cross click')"
        >
        <fa-icon class="close-icon"  [icon]="faTimes"></fa-icon>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ post.body }}</p>
      </div>
    </div>
  </div>
</div>
