.post {
    border: 2px solid black;
}

.container-fluid {
    background-color: white;
    min-width: 500px;
    -webkit-box-align: center;
}

.img-col {
    padding: 0 !important;
}

.modal-dialog{
    margin: 10rem auto !important;
}