<div class="follow-container">
    <form class="follow-form">
        <h3 class="text-center">Follow by email</h3>
        <div class="error" *ngIf="error">Unknown email address.</div>
        <div class="error" *ngIf="missing">The email is empty.</div>
        <div class="success" *ngIf="success">Successfully followed.</div>

        <input class="form-control" type="text" placeholder="Enter Email" name="email" id="email" [(ngModel)]="email" required>
        <button type="submit" class="onFollowBtn" (click)="follow()">Follow this person</button>
    </form>
</div>