<div class="container-fluid d-flex flex-column justify-content-between align-items-center m-1" *ngIf="posts"
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50"
(scrolled)="onScroll()"
[scrollWindow] = "false"
>
  <div class="col mb-4 post-card card shadow-lg" *ngFor="let post of posts">
    <div class="d-flex justify-content-between user-info">

      <div class="d-flex flex-column">
        <h2>{{post.creator?.username | titlecase}}</h2>
        <h4 class="text-muted post-date">{{post.datePosted | date}}</h4>
      </div>
      <div>
        <button type="button" class="btn btn-sm btn-secondary follow-btn">
         Follow
        </button>
      </div>
    </div>
    <hr>
    <!-- <app-post [post]="post"></app-post> -->
      <ng-container *ngIf="post.imgURL">
        <div class="image-container">
          <img
          class="img-fluid img-thumbnail"
          width="100%"
          [src]="post.imgURL"
          aria-label="Placeholder: Thumbnail"
        />
        </div>
      </ng-container>

      <div class="card-body">
        <p class="card-text">{{ post.body }}</p>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="#"><fa-icon class="like-icon"  [icon]="faThumbsUp"></fa-icon> 5</a>
              
          </div>
          <div class="btn-group">
            <a href="#"><fa-icon class="comment-icon" [icon]="faComment"></fa-icon>10</a>
          </div>
        </div>
      </div>
  </div>
  <div class="d-flex justify-content-center" *ngIf = "Loading">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
