.container-fluid {
    background-color: #F26925;
    padding: 2rem;
    overflow: scroll;
    height: 650px;
}

.post-card {
    max-width: 100mm;
    border-radius: 20px;
    padding: 0.5rem 1rem 1rem 1rem;
    background-color:  #B9B9BA;
}

/* .post-date {
    font-size: 12px;
} */

h2, h4 {
    margin: 0 !important;
    color: #474C55 !important;
}

.card-body {
    text-align: center;
}

.user-info {
    margin: 0.8rem 0;
}

.image-container {
    max-height: 512px;
    margin: 0px auto;
}

.follow-btn{
    border: none;
    text-align: center;
    background-color: #F26925;
    border-radius: 20px;
    padding: 6px 20px !important;
}


.like-icon, .comment-icon {
    margin-right: 4px;
}


a:hover {
    text-decoration: none;
}

fa-icon{
    font-size: 14pt;
}