.post-card {
    max-width: 100mm;
    /* border: 1px solid darkgray; */
}

/* .post-date {
    font-size: 12px;
} */

h2, h4 {
    margin: 0 !important;
}

.card-body {
    text-align: center;
}

.user-info {
    margin: 0.8rem 0;
}

.image-container {
    max-height: 512px;
    margin: 0px auto;
}

.follow-btn{
    border: none;
    text-align: center;
}

.follow-btn {
    background-color: #F26925;
}

/* .comment-btn, .like-btn {
    background-color:  #FCB414;
} */

.like-icon, .comment-icon {
    margin-right: 4px;
}

a:hover {
    text-decoration: none;
}