.post-card {
    max-width: 100mm;
    /* border: 1px solid darkgray; */
}

.post-date {
    font-size: 12px;
}

.user-info {
    margin: 0.8rem 0;
}

.image-container {
    max-height: 512px;
    margin: 0px auto;
}