<div class="login-container">
    <form class = "login-form">
        <div class = "container">        
            <h1 class="text-center">Bubbl(e)</h1>
            <div class="error" *ngIf="error">Username or password is incorrect.</div>
            <div class="error" *ngIf="missing">Must enter both username and password.</div>
            <hr>

            <input class="form-control" type="text" placeholder="Enter Username" name="username" id="username" [(ngModel)]="username" required>

            <input class="form-control" type="password" placeholder="Enter Password" name="password" id="password" [(ngModel)]="password" required>

            <button type="submit" class="onLoginBtn btn" (click)="login()">Login</button>
        
            <div class="sign-up">
                <p>Create New Account <a href="/register">Click Here</a>.</p>
            </div>
        </div>
    </form>
</div>
