* {box-sizing: border-box}

.login-container {
    background-image: url("/assets/images/login-register-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.error {
    color: rgb(185, 37, 37);
    font-size: 18px;
    font-weight: bold;
}

.login-form {
    padding: 5rem;
}

.text-center {
    background-color: #de6f3d;
    border-radius: 80px;
    padding: 1rem;
    color: white;
    margin-bottom: 3rem;
}

/* Add padding to containers */
.container {
    padding: 4rem;
    border-radius: 80px;
    max-width: 500px;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}

/* Full-width input fields */
:host input {
    width: 100%;
    padding: 15px;
    margin: 5px 5px 22px 5px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 100px;
}

:host input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
:host hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.onLoginBtn {
    background-color: #F26925;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 100px;
}

.onLoginBtn:hover {
    opacity:1;
}

/* Add a blue text color to links */
:host a {
    color: rgb(156, 112, 45);
    font-weight: 500;
}

/* Set a grey background color and center the text of the "sign in" section */
.sign-up {
    margin-top: 3rem;
    text-align: center;
}