<div class="container">
  <div class="col post-card mb-4 card shadow-lg" *ngFor="let post of posts">
    <header>
      <div class="d-flex justify-content-between user-info">
        <div class="d-flex flex-column">
          <h4>{{ post.creator?.username | titlecase }}</h4>
          <p class="text-muted post-date">{{ post.datePosted | date }}</p>
        </div>
      </div>
    </header>
    <hr />
    <section>
      <div class="card-body" (click)="open(post)">
        <p class="card-text">{{ post.body }}</p>
        <ng-container *ngIf="post.imgURL">
            <img
              alt="post image"
              class="img-fluid"
              width="100%"
              [src]="post.imgURL"
              aria-label="Placeholder: Thumbnail"/>
        </ng-container>
      </div>
    </section>
    <hr />
    <div class="d-flex justify-content-between align-items-center btn-div">
      <div class="btn-group">
        <app-like [postInfo]="post"></app-like>
      </div>
      <div class="btn-group" (click)="open(post)">
        <fa-icon class="comment-icon" [icon]="faComment"></fa-icon>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center" *ngIf="Loading">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div
    class="mb-4 post-card card shadow-lg d-flex justify-content-center"
    *ngIf="endOfContents">
    No More Contents
  </div>
</div>