.post-feed-container {
  width: 100%;
  margin-left: 2rem;
}

.post-card {
  border-radius: 20px;
  padding: 0 !important;
  background-color: white;
  cursor: pointer;
}

:host header {
    padding: 1rem;
}

:host h2, h4 {
  margin: 0 !important;
  color: #474c55 !important;
}

.card-text {
  max-height: 100px;
  overflow: hidden;
  cursor: pointer;
  mask-image: linear-gradient(180deg, #000 60%, transparent);
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
  margin-bottom: 2rem;
}

.user-info {
  margin: 0.8rem 0;
}

.image-container {
  max-height: 512px;
  margin: 0px auto;
}

.follow-btn {
  border: none;
  text-align: center;
  background-color: #f26925;
  border-radius: 20px;
  padding: 6px 20px !important;
}

.comment-icon {
  margin-right: 4px;
  color:#007bff;
}

.btn-div {
  margin: 1rem;
  padding: 1rem;
}

:host a:hover {
  text-decoration: none;
}

:host fa-icon {
  font-size: 14pt;
}

.post-date {
  margin-top: 3px;
  font-size: 14px;
}

:host hr {
  margin: 0 1rem !important;
}
