<div class="view-container">
  <nav-bar></nav-bar>
  <fieldset class="container mh-75">
    <app-search></app-search>
    <div class="bg-white overflow-hidden" >
      <div class="cover">
        <label class="hoverable" for="fileInput">
          <img [src]="url" alt="profile image">
          <div class="hover-text">Choose file</div>
          <div class="background"></div>
        </label>
      </div>
      <div class="">
        <input id="fileInput" type='file' (change)=" onSelectFile($event)">
        <div class="media-body mb-5 text-black">
          <h4 id="user-title">
            {{this.profile.firstName}} {{this.profile.lastName}}
          </h4>
          <p id="user-info">
            <em class="fas fa-map-marker-alt mr-2">{{this.profile.email}}</em> <br>
            <em class="fas fa-map-marker-alt mr-2">{{this.profile.username}}</em>
          </p>
        </div>
      </div>
    </div>


  </fieldset>
  <fieldset class="following">
    <fieldset>
      <ul><h4>Following</h4></ul>
      <input id="searchbar" type="search">
      <button class="button" type="submit">Search</button>
      <li>Bobby Tabbot</li>
      <li>Tammy Legit</li>
      <li>Leroy Jenkins</li>
      <li>Jaina Proudmoure</li>
    </fieldset>
  <br/>
  <fieldset class="followers">
    <fieldset>
      <ul><h4>Followers</h4></ul>
      <li>Aaron Medlock</li>
      <li>Kyle Crowley</li>
      <li>Jesse Rodriguez</li>
      <li>Mark Martin</li>
    </fieldset>
  </fieldset>


