.posts-container {
    border: 2px solid blue;
    padding: 5px;
}

.card {
    cursor: pointer;
}

.rounded {
    border-radius: 2rem!important;
    width: 18rem;
    padding: 0.75rem;
}

input {
    display: flex;
    justify-content: center;   
}