.modal-content{
    background-color: transparent!important;
    border: none!important;
}
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Futura;
    src: url("/assets/fonts/Futura-Normal.woff2") format("woff2");
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Futura;
}