/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Futura;
  src: url("/assets/fonts/Futura-Normal.woff2") format("woff2");
}
:root{
/* Primary Revature Colors */
--revature-orange: #F26925;
--revature-white: #FFF;
--revature-dark-gray: #474C55;

/* Secondary Revature Colors */
--revature-blue: #72A4C2;
--revature-yellow: #FCB414;
--revature-light-gray: #B9B9BA;

/* Additional colors */
--revature-cool-gray: #f0f2f5;

/* Avatar Sizes */
--revature-sm-avatar: 70px;
--revature-md-avatar: 100px;
--revature-lg-avatar: 150px;
--revature-xl-avatar: 200px;

}

html, body{
height: 100%;
margin: 0px;
padding: 0px;
overflow: hidden;
width: 100%;
}

.view-container{
display: flex;
height: 100%;
margin: 0px;
}
.posts-container{
overflow-y: scroll;
}
[type=button], [type=reset], [type=submit], button {
-webkit-appearance: none;
}

.btn-rounded{
background-color: var(--revature-dark-gray);
border: 0px;
border-radius: 50px;
color: var(--revature-white);
cursor: pointer;
padding: 5px 25px;
transition: 0.33s all;

/* Not sure of buttons that'd be on page,
   so using a little CSS hack to force
   hardware acceleration (uses GPU).   */
-webkit-transform: translate3d(0, 0, 0);
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
transform: translate3d(0, 0, 0);
backface-visibility: hidden;
perspective: 1000;
}
.btn-rounded:hover{
background-color: var(--revature-light-gray);
color: var(--revature-dark-gray);
}

.bubble-avatar_sm{
  border-radius: 50%;
  height: var(--revature-sm-avatar);
  object-fit: cover !important;
  width: var(--revature-sm-avatar);
}
.bubble-avatar_md{
  border-radius: 50%;
  height: var(--revature-md-avatar);
  object-fit: cover !important;
  width: var(--revature-md-avatar);
}
.bubble-avatar_lg{
  border-radius: 50%;
  height: var(--revature-lg-avatar);
  object-fit: cover !important;
  width: var(--revature-lg-avatar);
}
.bubble-avatar_xl{
  border-radius: 50%;
  height: var(--revature-xl-avatar);
  object-fit: cover !important;
  width: var(--revature-xl-avatar);
}

.animate-el{
  transition: 0.33s all;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000;
}
/*
* OLD STYLING
html,
body {
height: 100vh;
width: 100vw;
overflow: auto;
}
body {
margin: 0;
padding: 0;
min-height: 100vh;
display: flex;
flex-direction: column;
font-family: Futura, sans-serif;
}
.createPostModal > .modal-content{
background-color: transparent!important;
border: none!important;
}
.profilemodal > .modal-content{
background-color: transparent!important;
border: none!important;
}
.postModal {
max-width: 1080px;
}
@media screen and (max-width: 900px) {
.postModal {
  max-width: 670px;
  margin: 2rem;
}
}
*/

/* BOOTSTRAP OVERRIDES */
.modal-dialog{
  max-width: 1140px !important;
}
