* {box-sizing: border-box}

.follow-container
{
    max-width: 500px;
    padding: 4px;
}

.error {
    color: rgb(185, 37, 37);
    font-size: 18px;
    font-weight: bold;
}

.follow-form {
    padding: 3rem;
}

.onFollowBtn, .onUnfollowBtn
{
    background-color: #F26925;
    color: #FFF;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 100px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 5px 10px 5px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 100px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.container {
    padding: 3rem;
    border-radius: 80px;
    width: 100%;
    max-width: 500px;
    backdrop-filter: blur(40px);
    background: #acacac;
    -webkit-backdrop-filter: blur(40px);
}