<div class="card-body card-post-popup">
  <section id="original-post">
    <header>
      <div class="d-flex justify-content-between user-info">
        <div class="post-feed_author-info">
     <a [href]="'/profileview/' + post.creator.pid">   <img
          [src]=" (post.creator?.imgurl )? post.creator?.imgurl :  '../../../../assets/favicon.png'" alt="..."
          class="bubble-avatar_sm"/> </a>
          <h4>{{ post.creator?.username }}</h4>
          <p class="text-muted post-date">{{ post.datePosted | date }}</p>
        </div>
      </div>
    </header>
    <ng-container id="create-comment_post-img-container">
      <p>{{ post.body }}</p>
      <img *ngIf="post.imgURL" class="img-fluid card-img" alt="image" [src]="post.imgURL" id="create-comment_post-img" />
    </ng-container>
    <div class="comment-social-interaction post-feed_engagement-buttons">
      <app-like [postInfo]="post"></app-like>
      <fa-icon class="comment-icon" [icon]="faComment"></fa-icon> {{comments.length}}
      <!--<app-bookmark [postInfo]="post"></app-bookmark>-->
    </div>
  </section>
  <section id="original-post-comments">
    <ul class="comments">
      <div *ngFor="let commentData of comments" >
              <li class="clearfix post-feed_author-info first-level-comment">
                  <div class="post-feed-comment_container">
                    <div class="post-feed-comment_profile-pic">
                    <img [src]=" (commentData.writer?.imgurl )? commentData.writer?.imgurl :  '../../../../assets/favicon.png'" alt="..." class="bubble-avatar_sm comment-pfp">
                    </div>
                    <div class="post-comments post-feed-comment_body-copy">
                        <small>{{dateFormatForComment(commentData.dateCreated)}}</small>
                        <p class="meta">

                            {{commentData.writer?.username}} says :
                        </p>
                        <p>
                            {{commentData.cbody}}
                        </p>
                        <p>
                          <em class="pull-right">
                              <button class="btn btn-link bubble_create-reply-btn" (click)="submitCommentOnComment(commentData)"><small>Reply</small></button>
                          </em>
                        </p>
                    </div>
                  </div>
                  <ul class="comments">
                      <div *ngFor="let reply of replys">
                          <div *ngIf="commentData.cid==reply.previous?.cid">
                              <div *ngIf="formatReplyDate(reply)">
                                  <li class="clearfix">
                                    <div class="post-feed-comment_container">
                                      <div class="post-feed-comment_profile-pic">
                                      <img [src]=" (reply.writer?.imgurl )? reply.writer?.imgurl :  '../../../../assets/favicon.png'" alt="..." class="bubble-avatar_sm comment-pfp">
                                    </div>
                                    <div class="post-comments post-feed-comment_body-copy">
                                        <small>{{dateFormatForComment(reply.dateCreated)}}</small>
                                        <p class="meta">
                                            {{reply.writer?.username}} says :
                                        </p>
                                        <p>
                                            {{reply.cbody}}
                                        </p>
                                      </div>
                                    </div>
                                  </li>
                              </div>
                          </div>
                      </div>
                  </ul>
                </li>
          </div>
  </ul>
  <form id="create-comment-form align-items-center" >
    <label for="create-comment" *ngIf="isReply==false">Enter your comment: </label>
    <label for="create-comment" *ngIf="isReply==true">Enter your reply: </label>
    <div class="post-feed-comment_container">
      <div class="bubble-create-comment-self-avatar">
        <img [(src)]="url"
        alt="Bubble profile photo for {{this.profile.firstName}} {{this.profile.lastName}}"
        class="bubble-avatar_sm">
      </div>
      <div class="bubble-create-comment-textarea">
          <textarea type="text" *ngIf="isReply==false" class="form-control" [(ngModel)]="comment.cbody" name="create-post" id="create-comment" required>
          </textarea>
          <textarea *ngIf="isReply==true" type="text" class="form-control" [(ngModel)]="reply.cbody" name="create-reply" id="create-reply" required>
          </textarea>
    </div>
    </div>
    <button class="btn-rounded create-comment-btn bubble_create-comment-btn" (click)="submitComment(comment)" *ngIf="isReply==false">Post</button>
    <button class="btn btn-dark bubble_create-comment-btn" (click)="submitReply(reply)" *ngIf="isReply==true">Post</button>

  </form>
  </section>
</div>
