<div class="card-body">
    <div class="create-comment-container">
        <form id="create-comment-form" >
            <label for="create-comment">Create a comment: </label>
            <div class="mb-3">
                <textarea type="text" class="form-control" [(ngModel)]="comment.cbody" name="create-post" id="create-post" placeholder="create a comment..." required>
                </textarea>
            </div>
            <input type="submit" class="btn btn-dark" (click)="submitComment(comment)"/>
        </form>
        <br>
        <div *ngFor="let commentData of comments" >
            <div class="card">
                <div class="card-body" *ngIf="checkWriterForEachComment(commentData)">
                    <p>{{commentWriter.firstName}}</p>
                    <p>{{commentData.cbody}}</p>
                    <p>{{commentLocaleDate}}</p>
                    <button class="btn btn-dark" *ngIf="isWriter" (click)="deleteCommentByCid(commentData.cid)">delete</button>
                </div>      
            </div>
            <br>
        </div>

    </div>
</div>