<nav-bar></nav-bar>
<div id="teams-container">
  <h2>Your Groups</h2>
  <ul *ngFor="let mg of myGroups">
    <li><a routerLink="">{{this.mg.groupName}}</a> {{this.mg.members.length}} members <button type="button">Group
        Page</button> <button type="button" (click)="leaveGroup(mg)">Leave Group</button></li>
  </ul>
</div>

<div class="flex-column" id="search-container">

  <div class="input-group flex-row">
    <div class="form-outline">
      <input type="search" id="form1" class="form-control" />
    </div>
    <button type="button" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
  </div>

  <ul *ngFor="let g of allGroups">
    <li>{{this.g.groupName}}, {{this.g.members.length}} members <button type="button" (click)="joinGroup(g)">Join
        Group</button> </li>
  </ul>
</div>
